@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/*          Table of content            */
/*          0.GLOBAL SECTION            */
/*          1.NAV SECTION               */
/*          2.WELCOME SECTION           */
/*          3.ABOUT SECTION             */
/*          4.EXPERIENCE SECTION        */
/*          5.PROJECTS SECTION          */
/*          6.CONTACT SECTION           */
/*          7.MEDIA QUERY               */

/* GLOBAL SECTION */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;    
}
:root {
    --nav-bg-color: white;
    --nav-txt-color: black;
    --welcome-bg-color: #333;
    --welcome-txt-color: white;
    --personal-bg-color:#ececec;
    --personal-txt-color: black;
    --exp-bg-color:white;
    --exp-txt-color: black;
    --project-section-bg-color: rgb(201, 233, 250);
    --project-section-txt-color: black;
    --project-tile-bg-color: black;
    --project-tile-txt-color: white;
    --project-tile-hover-color: rgb(255, 0, 149);
    --contact-bg-color: #333;
    --contact-txt-color: white;
    --contact-hover-color: rgb(255, 0, 149);
}
html {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;    
}

/* NAV SECTION */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--nav-bg-color);
    width: 100%;
    z-index: 99;
}
.logo {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--nav-txt-color);
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    margin-right: 3rem;
}
.nav-list li {
    list-style: none;
}
.nav-list a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.1rem 1.5rem;
    color: var(--nav-txt-color);
    position: relative;
}
.nav-list a::after {
    content: "";
    position: absolute;
    width: 100%;    
    height: 3px;
    right: 0;
    bottom: 0.5rem;
    background-color: var(--nav-txt-color);
    transition: transform 0.3s;
    transform: scaleX(0);   
}
.nav-list a:hover {
    font-weight: bold;   
}
.nav-list a:hover::after {
    transform: scaleX(1);    
}

/* WELCOME SECTION  */
.welcome {    
    width: 100%;
    height: 100vh;
    background-color: var(--welcome-bg-color);
    background-image: linear-gradient(
        62deg, 
        var(--welcome-bg-color) 0%, 
        var(--welcome-bg-color) 100%
        );
    color: var(--welcome-txt-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
}
.pro-img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10%;
}
.pro-img img {
    width: 100%;    
}
.intro-txt {
    font-size: 3rem;    
}

/* ABOUT SECTION */
.info-container {
    background-color: var(--personal-bg-color);
    color: var(--personal-txt-color);
    padding: 5rem 10rem;
    display: grid;
    grid-template-areas: 
        "personal-info Programming-skill"
        "language-skill Programming-skill"
    ;
    gap: 3.5rem;
}
.personal-info {
    grid-area: personal-info;
}
.language-skill {
    grid-area: language-skill;
}
.Programming-skill {
    grid-area: Programming-skill;
    align-self: flex-start;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
}
.detail {
    margin: 1rem;
    font-size: 1.5rem;
}
.detail p {
    margin-bottom: 0.5rem;    
}

/* EXPERIENCE SECTION */
.exp-container {
    background-color: var(--exp-bg-color);
    color: var(--exp-txt-color);
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 5rem 10rem;
    gap: 1rem;
}
.exp i {
    padding-right: 1rem;
}
.exp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.exp-class {
    width: 20rem;
    height: 100%;
    font-size: 1.25rem;
}
.detail-container {
    width: 60%;
}
.company {
    margin-top: 0.3rem;
}
.detail-list {
    padding-left: 3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

/* PROJECTS SECTION */
.projects-section {
    text-align: center;
    padding: 5rem 2rem 3rem;
    background: var(--project-section-bg-color);
}
.projects-section-header {
    color: var(--project-section-txt-color);
    font-size: 3rem;
    width: fit-content;
    margin: 0 auto 5rem;
    border-bottom: 0.2rem solid var(--project-section-txt-color);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.project {
    background: var(--project-tile-bg-color);
    border: 1px solid var(--project-tile-bg-color);    
    border-radius: 2px;
}  
.code {
    color: var(--project-tile-bg-color);
    transition: color 0.3s ease-out;
}
.project:hover .code {
    color: var(--project-tile-hover-color);
}
.project-image {
    height: calc(100% - 4rem);
    width: 100%;
    object-fit: cover;
}  
.project-title {
    font-size: 1.5rem;
    padding: 0.7rem 0.5rem;
    color: var(--project-tile-txt-color);
}
.btn {
    display: inline-block;
    padding: 0.6rem 2rem;
    border-radius: 2px;
}
.btn-show-all {
    font-size: 1.5rem;
    background: var(--project-tile-bg-color);
    color: var(--project-tile-txt-color);
    transition: background 0.3s ease-out;
    border-radius: 2px;
}
.btn-show-all:hover > i {
    transform: translateX(0.5rem);
    color: var(--project-tile-hover-color);
}
.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

/* CONTACT SECTION */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0;
    background-color: var(--contact-bg-color);
    background-image: linear-gradient(
        62deg,  
        var(--contact-bg-color) 0%, 
        var(--contact-bg-color) 100%
        );
    color: var(--contact-txt-color);
    position: relative;
}
.contact-section-header > h2 {
    font-size: 6rem;
}
.contact-section-header > p {
    font-size: 2rem;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    color: var(--contact-txt-color);
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.contact-details:hover {
    transform: translateY(8px);
    color: var(--contact-hover-color);
}
.copy-txt {
    color: var(--contact-txt-color);
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}

/* MEDIA QUERY  */
@media (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 10px;
    }
    .welcome {    
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .info-container {
        grid-template-areas: 
            "personal-info"
            "language-skill"
            "Programming-skill"
        ;
        gap: 1rem;
        justify-content: center;
    }
    .exp-container {
        padding: 5rem 1rem 5rem 5rem;
    }
    .exp {
        flex-direction: column;
    }
    .detail-container {
        margin-top: 0.5rem;
        margin-left: 4.5rem;
        width: 90%;
    }
    
}

@media (max-width: 460px) {
    html {
      font-size: 8px;
    }
    .exp-container {
        padding: 5rem 1rem 5rem 3rem;
    }
  }