*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: rgb(204, 204, 204);    
}
#navbar header {
    text-align: center;
}
#navbar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#navbar li {    
    border-top: 1px solid black;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a {
    display: block;
    padding: 10px 20px;
    color: #444;
    text-decoration: none;
    cursor: pointer;
}
#main-doc {
    position: absolute;
    min-width: 450px;
    max-width: 800px;
    padding: 1.2rem;
    margin: 0 0 0 320px;
}
header {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0.3em 0;
}
article  p {
    margin: 1rem 0;
    text-align: left;
}
dd > :first-child {
    margin-top: 0px;
}
code {
    white-space: pre-line;    
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
}
dl {
    margin-bottom: 15px;
}
dd {
    margin-top: 3px;
    margin-left: 30px;
}
.nbk-code {
    background-color: transparent;
}
.class-name {
    font-size: 1rem;
    background-color: transparent;
}
.class-method {
    font-size: 1.25rem;
    background-color: transparent;
}
.class-arg {
    font-size: 1rem;
}
.ex-code {
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #eeffcc;
    border: 1px solid #ac9;
    padding: 15px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
}
h2 {
    padding: 0.3rem 0;
}
#Reference {
    margin: 0 0 2rem 0;
}
#Reference ul {
    padding-left: 4rem;
}
@media (max-width: 815px) {
    
    #navbar ul {
      border: 1px solid black;
      height: 218px;
    }  
    #navbar {
      background-color: white;
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      max-height: 275px;
      border: none;
      z-index: 1;
      border-bottom: 2px solid;
    }  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 270px;
    }
    .ex-code {
        overflow: auto;       
    }
  }

@media (max-width: 450px) {
    #main-doc {
        min-width: 100%;
    }
}
.dummy-list {
    display: none;
}