@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
html {
    box-sizing: border-box;
    font-size: 16px;
}
* {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    background-color: rgb(255, 255, 255);
}
.navbar {
    background-color: #333;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: rgb(36, 135, 248);  
    padding: 0;  
}
.nav-item a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 1.5vh 7vw;
    margin: 0;
}
@media (max-width: 460px) {
    .navbar {
      font-size: 0.8rem;
      line-height: 1.2;
    }
    .nav-item a {
        padding: 1.2vh 2vw;
    }
}
.nav-item:hover {
    background-color: white;
}  
.nav-item:hover a {
    color: black;
}
#title {
    text-align: center;
    margin: 10px 0px;
}
#title h1 {
    font-size: 2.5rem;
}
#title p {
    font-size: 1.5rem;
}
@media (max-width: 460px) {
    #title h1 {
      font-size: 2rem;
      line-height: 1.2;
    }
}
img {
    max-width: 100%;
    display: block;
    height: auto;    
}
#img-div {    
    background: white;
    padding: 10px;
    margin: 0;
    text-align: center;
}
.img-wrapper {
    width: 80%;      
    max-width: 1100px;
    border-radius: 1%;
    background-color: transparent;
    overflow: hidden;
    margin: 0 auto;
}
.img-wrapper img {    
    border-radius: 1%;
    width: 100%;      
    transition: 0.25s ease;
}
.img-wrapper img:hover {
    transform: scale(1.1);
}
#img-caption {
    margin: 15px 10% 5px;
}
section strong {    
    color: blue;    
}
section li{   
    list-style-type: disc;
}
.content-container {
    display: flex;
    flex-direction: column;
    border: #333;
    justify-content: center;
}
section {    
    margin: 15px 10%;
}
#tribute-info section {    
    margin: 0;
}
footer {
    display: flex;
    background-color: rgb(36, 135, 248);
    color: aliceblue;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 10px;
    margin: 0;
    padding: 0;
}
footer a {
    font-size: 1.5rem;
    color: aliceblue;
}
@media (max-width: 460px) {
    footer,footer a {
      font-size: 0.8rem;
      line-height: 1.2;
    }
}